.stickie-blue{
    background-color: rgb(16, 204, 255) !important;
}

.stickie-black{
    background-color: black !important;
    color:white !important;
}

.stickie-yellow{
    background-color: rgb(254, 233, 106) !important;
}

.color-menu{
    padding: 0rem 0px !important;
}

.menu-img{
    margin-bottom: 7px;
}

.app-img{
    width: 35%;
    height: 35%;
}

.nav-link{
    font-size: x-large;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: xx-large !important;
}