.dropdown-blue {
    background-color: rgb(16, 204, 255) !important;
}

.dropdown-black {
    background-color: black !important;
    color: white !important;
}

.dropdown-yellow {
    background-color: rgb(254, 233, 106) !important;
}

.color-menu {
    padding: 0rem 0px !important;
}

.menu-img {
    margin-bottom: 7px;
}

#paintBrushIcon{
    color: rgb(16, 204, 255);
}

.app-img {
    width: 60px;
    height: 60px;
}

.nav-link {
    font-size: x-large;
}

.navbar-nav .nav-link{
    padding-left: 55px !important;
}

.navbar{
    box-shadow: 0px 25px 40px 0px rgba(196,168,196,0.69);
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 1.75rem !important;
}

.nav-link:not(.stickie-counter){
    padding-top:15px
}

.dropdown-item {
    padding: 0.2rem 1rem !important;
    font-size: large;
}

.dropdown-menu{
    background-color: #fff0 !important;
}

.stickie-counter{
    font-size: xx-large;
    color:black !important;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.stickie {
    background-color: coral;
    width: 200px;
    height: 200px;
    border-radius: 8px 40px 8px 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'header header header ' 'lsidebar content rsidebar' 'footer footer footer ';
}

.stickie-blue-title {
    background-color: rgb(128, 230, 255);
}

.stickie-blue {
    background-color: rgb(16, 204, 255);
}

.stickie-yellow-title {
    background-color: rgb(255, 244, 181);
}

.stickie-yellow {
    background-color: rgb(254, 233, 106);
}

.stickie-black-title {
    background-color: rgb(128, 128, 128);
}

.stickie-black {
    color: white;
    background-color: rgb(0, 0, 0);
}


.stickie-container {
    position: absolute;
    z-index: 9;
    font-family: arial, sans-serif;
    border: 1px solid black;
    width: 285px;
    height: 285px;
    border-radius: 8px 38px 8px 20px;
    display: grid;
    grid-template-columns: 0.2fr 10fr 2.2fr 0fr;
    grid-template-rows: 0.3fr 46fr 1fr;
    grid-template-areas: "trash title move ." "content content content ." ". . . .";
}

.trash {
    border-top-left-radius: 8px;
    grid-area: trash;
}

.stickie-title {
    grid-area: title;
    text-align: center;
    font-size: x-large;
}

.move {
    border-top-right-radius: 40px;
    grid-area: move;
}

.content {
    overflow: scroll;
    grid-area: content;
}

#stickie-content-text{
    padding: 0px 0px 0px 23px;
}

#stickie-move-icon{
    cursor: move;
    color:black;
    font-size: 32px;
    margin-top: 2px;
    margin-left: 3px;
}

#stickie-move-icon:hover{
    cursor: move;
    color: #6e6cf9;
}

#stickie-move-icon:active{
    cursor: grabbing;
    color: #4b4c9f;
}

#stickie-remove-icon{
    color:black;
    font-size: 32px;
    margin-top: 2px;
    margin-left: 3px;
}

#stickie-remove-icon:hover{
    color:red;
}

#stickie-remove-icon:active{
    color: #c30000;
}

::-webkit-scrollbar {
    opacity: 100%;
    width:0px;
}

body{
    height:100%;
    width:100%;
    background-color: grey !important;
}